<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="shortcut icon" href="libs/camera-retro-solid_white.svg" type="image/x-icon">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gergo Kodrucz Photography</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Yellowtail&display=swap" as="font" type="font/woff2" crossorigin>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='src/light-theme.css'> -->
    <link rel='stylesheet' type='text/css' media='screen' href='src/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='src/gallery.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='node_modules/@fortawesome/fontawesome-free/css/all.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./node_modules/aczeh-vue-light-gallery/dist/vue-light-gallery.umd.js"></script>
    <script type="module" src='src/main.js'></script>
</head>
<body>
    <nav id="nav" class="half-bg">
        <div class="flex">
            <a href="#home" v-bind:class="classes.home"><img src="./libs/camera-retro-solid_theme.svg" alt="home"></a>
            <h1><a href="#home">Gergo Kodrucz Photography</a></h1>
        </div>
        <div class="dropdown">
            <a onclick="toggle('menu-dropdown')" class="noclose">
                <i class="fa fa-bars noclose"></i>
            </a>
            <div id="menu-dropdown" class="menu-dropdown">
                <a href="#about_me" v-bind:class="classes.about_me">About me</a>
                <a href="#gallery" v-bind:class="classes.gallery">Gallery</a>
                <a href="#contacts" v-bind:class="classes.contacts">Contacts</a>
            </div>
          </div>
    </nav>
    <div id="home" class="container">
    </div>
    <div id="about_me" class="container">
        <div class="content">
            <h2>About me</h2>
            <p>Hello and Welcome to my website!</p>
            <p>
                My name is Gergő and I’m a professional photographer from Hungary. First of all, let me tell you a bit about myself. I was only 3 when I took my first photo in my life. Ever since photography had become my greatest passion, which later on determined my career.
            </p>
            <p>
                When I was a kid my father inspired me as he’s a great photographer. Later on I had a chance to take part in many different national and international sports events to capture great moments; this gave me a confidence boost that helped me get more experience in different parts of photography. By the time I finished high school, it had become crystal clear to me that I wanted to be a photographer. Ever since I have worked for different newspapers and also in the digital media. In 2015 I moved to Edinburgh, Scotland, which is a fantastic place for a photographer.
            </p>
            <p>
                I know how hard it is to be on the other side of the camera, so I’ll do my best to make you feel relaxed so that you can be truly yourself. It doesn’t matter if you don’t have much experience, I’m sure I’ll take excellent photos of you in your desired settings.
            </p>
            <p>
                I provide family, portrait, event, sport, product and food photography etc. 😇
            </p>
            <p>
                Feel free to get in touch to find out how I can help you.</p>
            </p>
        </div>
    </div>
    <div id="gallery" class="container">
        <div class="content" v-bind:class="[isShowing ? blurClass : '', bkClass]">
            <h2>Gallery</h2>
            <!-- <noscript>
                <div class="grid" v-if="!cards">
                    <div class="card">
                        <image src="https://images.unsplash.com/photo-1621173865362-b3fec79a0458?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="">
                    </div>
                    <div class="card">
                        <image src="https://images.unsplash.com/photo-1621173865362-b3fec79a0458?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="">
                    </div>
                    <div class="card">
                        <image src="https://images.unsplash.com/photo-1621173865362-b3fec79a0458?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="">
                    </div>
                    <div class="card">
                        <image src="https://images.unsplash.com/photo-1621173865362-b3fec79a0458?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="">
                    </div>
                </div>
            </noscript> -->
            <light-gallery 
            :images="cards"
            :index="index"
            :disable-scroll="true"
            @close="index = null"></light-gallery>
            <div class="buttons">
                <button type="button" v-on:click="filterCategories(category)" v-for="category in categories">{{category.name}}</button>
            </div>
            <transition-group name="fade" tag="div" class="grid">
                <div class="card" v-for="(card, cardIndex) in cards" v-bind:key="card" @click="index = cardIndex">
                    <image v-bind:srcset="card.urls" v-on:load="onImageLoad(event, card)" v-bind:class="card.class" v-bind:alt="card.title">
                </div>
            </transition-group>
            <div class="buttons center">
                <button type="button" v-if="hasHidden" v-on:click="showMore()">Show more</button>
            </div>
        </div>
        <app-child v-if="isShowing" class="modal">
            <button @click="toggleShow">
              Close
            </button>
        </app-child>
        <script type="text/x-template" id="childarea">
            <div>
              <h2>Here I am!</h2>
              <slot></slot>
            </div>
        </script>
    </div>
    <div id="contacts" class="container">
        <div class="content">
            <h2>Contacts</h2>
            <p>Hi Again! Did you like my photos? Do you need a photographer? I think we solved your problem! Don't hesitate, please contact me and I will work for you!</p>
            <!-- <div class="disclaimer">
                <a href="https://fontawesome.com/license">This site uses FontAwesome</a>
            </div> -->
            <div>
                <div class="contact" v-for="contact in contacts">
                    <div>
                        <a target="_blank" v-bind:href="contact.prefix + contact.value">
                            <i v-bind:class="contact.icon"></i>
                        </a>
                    </div>
                    <span>{{contact.value}}</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="half-bg">
        <a v-for="contact in contacts" target="_blank" v-bind:href="contact.prefix + contact.value">
            <i v-bind:class="contact.icon"></i>
        </a>
    </footer>
</body>
</html>