.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding-bottom: 1em;
}

.grid img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    box-shadow: 0 0 .2em var(--shadow-color);
    transition: var(--animation-time);
    cursor: pointer;
}

.grid img:hover {
    box-shadow: 0 .2em .5em var(--shadow-color);
}

.card {
    margin: auto;
    display: flex;
    justify-content: center;
}

.fade-enter-active,
.fade-leave-active {
    height: auto;
    transition: height, opacity 2s ease-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    height: 0;
}

.modal {
    background: cyan;
    color: black;
    padding: 20px;
    width: 200px;
    position: fixed;
}

.bk {
    transition: all 0.1s ease-out;
}

.blur {
    filter: blur(2px);
    opacity: 0.4;
}

.max-width-7 {
    max-width: 7rem;
    max-width: 70%;
}
