@media (prefers-color-scheme: light) {
    :root {
    --text-color: #f3ca20;
    --bg-color: rgba(32,32,32,1.0); /* #202020 */
    --transition-color: rgba(36,0,144,1.0); /* #240090 */
    --bg-color-half: rgba(29,30,34,.5); /* #1D1E22 */
    --transition-color-half: rgba(57,63,77,.5); /* #393F4D */
    --basic-font: 'Roboto', sans-serif; 
    --title-font: 'Yellowtail', cursive;
    }
}