:root {
    --text-color: #EC7F37;
    --bg-color: rgba(29,30,34,1.0); /* #1D1E22 */
    --transition-color: rgba(57,63,77,1.0); /* #393F4D */
    --bg-color-half: rgba(29,30,34,.7); /* #1D1E22 */
    --transition-color-half: rgba(57,63,77,.7); /* #393F4D */
    --basic-font: 'Roboto', sans-serif; 
    --title-font: 'Yellowtail', cursive;
    --animation-time: .2s;
    --shadow-color: black;
    --container-gap: 6rem;
    --container-gap-d: 15rem;
    --container-gap-n: -6rem;
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--basic-font);
    color: var(--text-color);
    font-size: 2vmax;
    scroll-behavior: smooth;
}

@media (min-width: 800px) {
    html {
        font-size: 3vmin;
    }
}

body {
    background-color: var(--bg-color);
    margin: 0;
    background-image: url(../libs/images/landscape/IMG_9504@1920w.jpg);
    background-attachment: fixed;
    background-position: top, center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-aspect-ratio: 3/2) {
    body {
        background-size: contain;
    }
}

nav {
    justify-content: space-between;
}

nav, footer {
    padding: .5em 2em;
    display: flex;
    gap: 1em;
    position: fixed;
    z-index: 1;
    width: 100%;
    transition: var(--animation-time);
}

.flex {
    display: flex;
    gap: 1em;
}

.half-bg {
    background-color: var(--bg-color-half);
}

footer {
    top: unset;
    bottom: 0;
}

h1 {
    font-family: var(--title-font);
    font-size: 1em;
    text-shadow: 1px 2px 3px black;
    margin: 0;
}

.container {
    position: relative;
    background: none;
    padding: 3em 1em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    max-width: 900px;
    margin: auto;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding-bottom: 1em;
}

.center {
    justify-content: center;
}

.buttons button {
    padding: .3em .3em;
    font-size: inherit;
}

/* .container:nth-child(2n) {
    background: linear-gradient(to bottom left, var(--transition-color), var(--bg-color));
    margin: 6rem auto;
} */

.container {
    background: var(--bg-color-half);
    margin: var(--container-gap-d) auto;
}

.container:not(#home):before, .container:not(#home):after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    height:  var(--container-gap);
    background: linear-gradient(to bottom, transparent, var(--bg-color-half));
}

.container:not(#home):before {
    background: linear-gradient(to bottom, transparent, var(--bg-color-half));
    top: var(--container-gap-n);
}

.container:not(#home):after {
    background: linear-gradient(to top, transparent, var(--bg-color-half));
    bottom: var(--container-gap-n);
}

#home {
    height: 100vh;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 33vmin;
    margin: 0;
}

[href="#home"] {
    border: none;
    padding: 0;
    width: 1.4rem;
}

[href="#home"]:hover {
    box-shadow: none;
}

[href="#home"] :is(img,svg) {
    fill: var(--text-color);
    width: 1.4rem;
    position: absolute;
    color: var(--text-color);
}

a, button { 
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding: .1em .3em;
    transition: var(--animation-time);
    border-radius: .2em;
    border: 1px solid var(--text-color);
    background: none;
    cursor: pointer;
}

a:hover, button:hover {
    box-shadow:  0px 0px 6px var(--text-color);
}

a.active {
    box-shadow:  0px 4px 4px var(--text-color);
}

.contact {
    display: flex;
    padding: .3em;
    gap: 1em;
}

.contact > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    text-overflow: ellipsis;
}

.contact > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.dropdown {
    position: relative;
}

.menu-dropdown {
    display: none;
    position: fixed;
    right: 0;
    top: 2em;
    box-shadow: 0 0 .2em var(--shadow-color);
    padding: 1em;
    z-index: 1;
    background: var(--bg-color-half);
}

.menu-dropdown a {
    text-decoration: none;
    display: block;
}
  
.show {
    display:flex;
    flex-direction: column;
    gap: .5em;
}